<div class="about-group">
    <div class="ui message inverted about">
        <div class="titlebar"><i class="yellow info icon inverted"></i>À propos de Foroum.org</div>
        <p>Merci de visiter mon site web !</p>
        <p>Ce site est un agrégateur de topics provenant de divers forums (jvlikes). Il n'a pas vocation à devenir un forum lui-même, mais à fournir une plateforme neutre et centralisée pour explorer ces communautés.</p>
    </div>

    <div class="ui message inverted about">
        <div class="titlebar"><i class="yellow hand holding usd icon inverted"></i>Donations</div>
        <p>Je développe et héberge ce site gratuitement. Ajouter des publicités rendrait l'expérience utilisateur moins agréable et ne générerait presque aucun revenu. Si vous le souhaitez, vous pouvez faire un don en crypto-monnaie.</p>
        <div class="ui action fluid input">
            <input type="text" value="BTC : 1AVbUs8BZfpWW222UdddUHqWF7yHDXMsp1" readonly>
        </div>
        <br>
        <div class="ui action fluid input">
            <input type="text" value="Monero : 44S8MSPtpjgWmBtXHMW7bueSJroHEKuhFTxp4kyBmN6gWGcjzJ7zpNiM2ckpGYtY6PCRerB2Kbn1Md7fc2zHjakE9sr4J8A" readonly>
        </div>
    </div>
</div>